
:root{
    --primary : #0e6efb;
    --max_sidebar_width : 200px;
    --min_sidebar_width : 52px;
    --borderColor : #dee2e6;
}

*{
    font-size: 0.93rem;
    border-radius: 0% !important;
}

body{
    background: #f5f5f5;
}

